.sidebar {
    position: relative;
    background-color: var(--color-accent);
}
.sidebar--container {
    padding: 3rem;
    .avatar {
        margin: 4rem auto 2rem;
        width: 17rem;
        height: 17rem;
        img {
            border: 2px solid var(--color-border);
            border-radius: 50%;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .name {
        text-align: center;
        h3 {
            margin: 1rem 0;
            font-size: var(--font-size-25);
            color: var(--color-name);
        }
        div {
            border-radius: 8px;
            color: var(--color-accent);
            background-color: var(--color-bg-des);
            font-weight: 500;
        }
    }
}
.sidebar__infor--additional {
    margin-top: 2rem;
    padding-top: 2rem;
    border-top: 1px solid var(--color-bg2);
    .deatails--infor__item {
        display: flex;
        align-items: center;   
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        .infor--contacts {
            span {
                font-size: var(--font-size-20);
                display: block;
                opacity: .5;
            }
            a {
                text-transform: none;
                color: white;
                font-size: var(--font-size-18);
            }
        }
    }
    .socialMedia {
        text-align: center;
        a {
            padding: 0  0.5rem ;
        }
        .icon {
            width: 2.5rem;
            height: 2.5rem;
            transition: transform .2s;
            &:hover {
                transform: translateY(-5px);
            }
        }
    }
}