.changeTheme {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    &:hover {
        opacity: 0.5;
        box-shadow: 2px 2px 10px #fff;
        cursor: pointer;
    }
}