.container {
    grid-template-columns: 30rem auto;
    column-gap: 2rem;
    padding: 1.7rem 0;
    .content {
        position: relative;
        background-color: var(--color-bg-content);
    }
    .content__container {
        padding: 3rem;
    }
}