@import url('https://fonts.googleapis.com/css2?family=Rasa:ital,wght@0,300;0,500;0,600;1,400&display=swap');

:root {
    //color
    --color-body: #121212;
    --color-accent: #ffd154;
    --color-line: #fff;
    --color-bg: #1d1d1d;
    --color-bg2: #404043;
    --color-border: rgb(110, 106, 106);
    --color-white: #fff;
    //radius
    --radius-20: 20px;
    //text
    --title-color: #f0f0f0;
    --text-color: #f0f0f0;
    //shadow
    --box-shadow-1: 3.4px 3px 7.6px rgb(69 68 67);
    //font  size
    --font-size-18: 1.8rem;
    --font-size-25: 2.5rem;
    //z index
    --z-index-nav: 10;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;

    ::-webkit-scrollbar {
        display: none;
    }
}

body {
    font-size: 1.8rem;
    text-transform: capitalize;
    font-family: 'Rasa', serif;
    font-weight: 300;
    color: white;
    background-color: var(--color-body);
}

img {
    height: auto;
    max-width: 100%;
}

.wide {
    max-width: 120rem;
    width: 100%;
    margin: 0 auto;
}

.grid {
    display: grid;
}

.title {
    font-size: var(--font-size-25);
    color: var(--color-accent);
    font-weight: 600;
}

.box {
    display: block;
    border-radius: var(--radius-20);
    background-color: var(--color-bg);
    border: 1px solid var(--color-border);
}

.box--icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    width: 3.5rem;
    padding: 2rem;
    background-color: var(--color-bg);
    margin-right: 1.5rem;
    border-radius: 8px;
    box-shadow: var(--box-shadow-1);
    color: var(--color-accent);
    font-size: var(--font-size-18);
}

.line {
    display: block;
    width: 5rem;
    height: 0.5rem;
    background-color: var(--color-line);
    border-radius: 3px;
    margin: 0.5rem 0 1rem;
}

.page__container {
    height: 86vh;
    overflow-y: scroll;
}
.borderLeft {
    position: relative;
        margin-top: 1.5rem;
        border-left: 1px solid var(--color-accent);
        &::before {
            position: absolute;
            content: "";
            height: 0.8rem;
            width: 0.8rem;
            background-color: var(--color-white);
            top: 45%;
            left: -5px;
            border-radius: 50%;
            box-shadow: 0 0 0 0.25rem rgb(255 219 110 / 10%);
        }
}

 