@import url('https://fonts.googleapis.com/css2?family=Rasa:ital,wght@0,300;0,500;0,600;1,400&display=swap');

:root {
    //color
    --color-accent: #1d1d1d;
    --color-body: #121212;
    --color-bg-content: rgb(183, 179, 179);
    --color-bg-boxIcon: rgb(110, 104, 104);
    --color-bg-des: rgb(253, 252, 252);
    --color-title: #ffffff;
    --color-text: #1d1d1d;
    --color-name: #fff;
    --color-border: rgb(105, 99, 99);
    --color-active: #fca072;
    --color-icon: #1d1d1d;
    --box-shadow-1: 8px 8px 7.6px #ddd2cd;
    //radius
    --radius-20: 20px;
    //shadow
    --box-shadow-1: 8px 8px 7.6px rgb(69 68 67);
    //font  size
    --font-size-20: 2rem;
    --font-size-25: 2.5rem;
    --font-size-title: 3rem;
    //z index
    --z-index-nav: 10;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;

    ::-webkit-scrollbar {
        display: none;
    }
}

body {
    font-size: 1.8rem;
    text-transform: capitalize;
    font-family: 'Rasa', serif;
    font-weight: 300;
    color: white;
    background-color: var(--color-body);
}

body.lightTheme{
    --color-accent: #fca072;
    --color-body: #f1e8da;
    --color-bg-content: #ffffffe6;
    --color-bg-boxIcon: #ffffff;
    --color-bg-des: rgb(253, 252, 252);
    --color-title: rgb(32, 31, 31);
    --color-text: #fca072;
    --color-name: #fff;
    --color-border: #fff;
    --color-active: rgb(32, 31, 31);
    --color-icon: #fca072;
    --box-shadow-1: 8px 8px 7.6px #b97756;
}

img {
    height: auto;
    max-width: 100%;
}

.wide {
    max-width: 120rem;
    width: 100%;
    margin: 0 auto;
}

.grid {
    display: grid;
}

.title {
    color: var(--color-title);
    font-weight: 600;
    font-size: var(--font-size-title);
}

.box {
    display: block;
    border-radius: var(--radius-20);
    border: 2px solid var(--color-border);
}

.box--icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    width: 3.5rem;
    padding: 2rem;
    background-color: var(--color-bg-boxIcon);
    margin-right: 1.5rem;
    border-radius: 8px;
    box-shadow: var(--box-shadow-1);
    font-size: var(--font-size-20);
    color: var(--color-icon);
}

.line {
    display: block;
    width: 5rem;
    height: 0.5rem;
    background-color: var(--color-line);
    border-radius: 3px;
    margin: 0.5rem 0 1rem;
}

.page__container {
    height: 86vh;
    overflow-y: scroll;
    color: var(--color-text);
}
.borderLeft {
    position: relative;
        margin-top: 1.5rem;
        border-left: 1px solid var(--color-accent);
        color: var(--color-text);
        &::before {
            position: absolute;
            content: "";
            height: 0.8rem;
            width: 0.8rem;
            background-color: var(--color-white);
            top: 45%;
            left: -5px;
            border-radius: 50%;
            box-shadow: 0 0 0 0.25rem rgb(255 219 110 / 10%);
        }
}

 